In [1]:
import sys
base_path = 'C:\\github\\aide-analysis'
sys.path.append(base_path)

from core.config import Config
config = Config()
config.RAWDATA_PATH

# 사전처리
from src.temp import *
from matplotlib.ticker import MaxNLocator
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import datetime
import glob
import re
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
warnings.filterwarnings(action='ignore')

# DataFrame 디스플레이 설정
pd.set_option('display.max_columns', 250)
pd.set_option('display.max_rows', 250)
pd.set_option('display.width', 100)

# Pandas Float 자릿수 표시 제한
pd.options.display.float_format = '{:.2f}'.format

# jupyter notebook 내 그래프를 바로 그리기 위한 설정
%matplotlib inline
# unicode minus를 사용하지 않기 위한 설정 (minus 깨짐현상 방지)
plt.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'

In [19]:
sql = f"""
select *
from `aidepartners.aide.naver_real_estate_listings`
where sigunguCode = '11650' AND rletTpNm = '아파트' AND tradTpNm='매매'
"""
df = BH.read_table(sql)

In [22]:
df_main = df.groupby(['atclNo','atclNm'])['date'].agg(['max','min']).reset_index()

In [25]:
df_main['diff'] = df_main['max'] - df_main['min']

In [34]:
df_main['diff'].value_counts()

diff
0 days     18335
7 days      3954
21 days     3466
14 days     1980
28 days     1064
5 days       758
19 days      461
12 days      460
22 days      272
20 days      261
8 days       246
6 days       201
26 days      139
13 days      137
27 days      129
29 days      115
15 days      113
Name: count, dtype: int64

In [35]:
df_main[df_main['diff']!= '0 days']

           atclNo       atclNm         max         min   diff
272    2310968621    아크로리버뷰신반포  2023-04-15  2023-04-10 5 days
379    2311265781       서초그랑자이  2023-04-15  2023-04-10 5 days
381    2311269142         리베하임  2023-04-15  2023-04-10 5 days
384    2311281424  서초타워씨티빌(선경)  2023-04-15  2023-04-10 5 days
385    2311281476    아크로리버뷰신반포  2023-04-15  2023-04-10 5 days
...           ...          ...         ...         ...    ...
30257  2331234689   래미안신반포리오센트  2023-07-29  2023-07-22 7 days
30279  2331240120        신반포자이  2023-07-29  2023-07-22 7 days
30284  2331245862         서초현대  2023-07-29  2023-07-22 7 days
30296  2331254504      아크로리버파크  2023-07-29  2023-07-22 7 days
30316  2331269633       네스코뮤즈빌  2023-07-29  2023-07-22 7 days

[13756 rows x 5 columns]