In [2]:
# 경로설정
import sys
path = "C:\github/aide-analysis/"
sys.path.append(path)

import os
import sys
from pathlib import Path
sys.path.append(str(Path(os.getcwd())))
# 한글폰트
import os
import matplotlib.pyplot as plt
if os.name =='posix':
    plt.rc('font',family = 'ApplGothic')
else:
    plt.rc('font',family = 'Malgun Gothic')
    
# 경고출력문 제거
import warnings
warnings.filterwarnings("ignore")

# 모듈 import
import pandas as pd
import src
from src.openapi import KakaoLocalAPI as kakao
from openpyxl import load_workbook
from src.utils import insert_dataframe_to_excel_sheet
from src.sql import DatabaseHandler
from src.temp import *
from datetime import datetime
import datetime
from dateutil.relativedelta import relativedelta
from src.bigquery import BigqueryHandler
import seaborn as sns
import numpy as np
import statistics
from tqdm import tqdm
import config
from core.config import Config
import json
from datetime import datetime
import geopandas as gpd
from tqdm import tqdm
import folium
from src.bigquery import bigquery_client, bigquery
import geopandas as gpd
from shapely import wkt
from openpyxl import load_workbook
from src.utils import insert_dataframe_to_excel_sheet
from openpyxl.utils.dataframe import dataframe_to_rows
from difflib import SequenceMatcher
import openpyxl
import math
config = Config()
BH = BigqueryHandler()


# DataFrame 디스플레이 설정
pd.set_option('display.max_columns', 250)
pd.set_option('display.max_rows', 250)
pd.set_option('display.width', 100)

#### 필요한 정보

- 시군구
- 단지명
- 사용승인일 
- 총세대수
- 전용면적
- 공급면적
- 매매가격
- 전세가격
- 월세가격 
- 전세가율

#### 기획
- 오피스텔명과 면적을 입력받고 그중 가장 세대수가 많은 면적들끼리 가격비교를 하는데, 이때 필요한정보들을 비교해주는 방식

In [10]:
# qeury
sql = f"""
SELECT T2.*
FROM(
  SELECT T1.*,
        -- 단지별 유형별 대표 면적 (대표 면적 -> 유형별 타입별 세대수 가장많은 타입)
        ROW_NUMBER() OVER(PARTITION BY T1.complexNo, T1.areaCategory ORDER BY T1.householdCountByPyeong DESC) AS rn
  FROM(
      SELECT danji.complexNo, 
            danji.complexName, 
            danji.sigunguName, 
            danji.bdongName,
            danji.totalHouseholdCount,
            danji.useApproveYear,
            danji.HeatMethodTypeName,
            danji.constructionCompanyName,
            area.supplyArea,
            area.jeonyongArea,
            area.householdCountByPyeong,
            area.entranceType,
            area.roomCount,
            area.bathroomCount,
            area.pyeongNo,
            price.tradeType,
            price.dealPrice,
            price.leasePrice,
            price.rentPrice,
            price.contractDate,
            CASE 
            WHEN area.jeonyongArea >=15 AND area.jeonyongArea<=30 THEN '소형'
            WHEN area.jeonyongArea >=30 AND area.jeonyongArea<=45 THEN '중소형'
            END AS areaCategory

      FROM `aidepartners.aide.complex_danji_information` AS danji
      LEFT JOIN (
                  SELECT complexNo,
                        supplyArea,
                        jeonyongArea,
                        householdCountByPyeong,
                        entranceType,
                        roomCount,
                        bathroomCount,
                        pyeongNo
                  FROM `aidepartners.aide.complex_area_information_prod` 
                  ) AS area 
                    ON danji.complexNo = area.complexNo
      LEFT JOIN (
                  SELECT complexNo,
                        areaNo,
                        contractDate,
                        tradeType,
                        dealPrice,
                        leasePrice,
                        rentPrice,

                  FROM `aidepartners.aide.complex_real_price_prod`
                  WHERE deleteYn is null

                  ) AS price
                    ON area.complexNo = price.complexNo 
                      AND area.pyeongNo = price.areaNo

      WHERE danji.realEstateTypeCode = 'OPST' and (danji.sidoCode = '11' OR danji.sigunguCode IN ('41131','41133'))
  ) AS T1
)AS T2
WHERE T2.rn =1
"""
df = BH.read_table(sql)

In [11]:
df

,complexNo,complexName,sigunguName,bdongName,totalHouseholdCount,useApproveYear,HeatMethodTypeName,constructionCompanyName,supplyArea,jeonyongArea,householdCountByPyeong,entranceType,roomCount,bathroomCount,pyeongNo,tradeType,dealPrice,leasePrice,rentPrice,contractDate,areaCategory,rn
0,103624,레이크빌,서울시 송파구,송파동,16,2004,개별난방,신화이엔씨건설(주),34.93,28.81,8,계단식,1,1,2,None,<NA>,<NA>,<NA>,NaT,소형,1
1,105523,EG솔리더,서울시 중랑구,망우동,27,2012,개별난방,이지컨스텍(주),34.45,17.64,16,복도식,1,1,2,None,<NA>,<NA>,<NA>,NaT,소형,1
2,107096,실크빌,서울시 송파구,석촌동,30,2004,개별난방,INS종합건설주식회사,156.57,135.42,1,복합식,4,2,10,None,<NA>,<NA>,<NA>,NaT,None,1
3,108625,용산푸르지오써밋,서울시 용산구,한강로2가,650,2017,중앙난방,㈜대우건설,66.86,26.69,124,계단식,1,1,6,None,<NA>,<NA>,<NA>,NaT,소형,1
4,121568,와이하우스,서울시 성동구,용답동,349,2021,개별난방,요진건설사업(주),40.32,18.09,196,계단식,1,1,1,None,<NA>,<NA>,<NA>,NaT,소형,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6531,123459,더퍼스트,서울시 영등포구,영등포동7가,25,2018,개별난방,(주)은성산업주택,58.46,38.41,5,계단식,1,1,4,None,<NA>,<NA>,<NA>,NaT,중소형,1
6532,131527,메이슨리치,서울시 영등포구,영등포동7가,40,2020,개별난방,(주)다원에이앤씨,45.22,29.35,14,계단식,2,1,3,None,<NA>,<NA>,<NA>,NaT,소형,1
6533,150618,아크로L팰리스(민간임대),서울시 영등포구,영등포동7가,40,2021,개별난방,(주)이조건설,22.28,12.64,20,계단식,1,1,1,None,<NA>,<NA>,<NA>,NaT,None,1
6534,102500,은석,서울시 영등포구,영등포동7가,87,2010,개별난방,와이엠건설주식회사,34.85,18.81,60,복도식,1,1,2,None,<NA>,<NA>,<NA>,NaT,소형,1
6535,103111,근상프리즘,서울시 영등포구,영등포동7가,11,2010,개별난방,(주)근상건설,40.03,21.06,4,계단식,1,1,3,None,<NA>,<NA>,<NA>,NaT,소형,1