In [1]:
# 경로설정
import sys
path = "C:\github/aide-analysis/"
sys.path.append(path)

import os
import sys
from pathlib import Path
sys.path.append(str(Path(os.getcwd())))
# 한글폰트
import os
import matplotlib.pyplot as plt
if os.name =='posix':
    plt.rc('font',family = 'ApplGothic')
else:
    plt.rc('font',family = 'Malgun Gothic')
    
# 경고출력문 제거
import warnings
warnings.filterwarnings("ignore")

# 모듈 import
import pandas as pd
import src
from src.openapi import KakaoLocalAPI as kakao
from openpyxl import load_workbook
from src.utils import insert_dataframe_to_excel_sheet
from src.sql import DatabaseHandler
from src.temp import *
from datetime import datetime
import datetime
from dateutil.relativedelta import relativedelta
from src.bigquery import BigqueryHandler
import seaborn as sns
import numpy as np
import statistics
from tqdm import tqdm
import config
from core.config import Config
import json
from datetime import datetime
import geopandas as gpd
from tqdm import tqdm
import folium
from src.bigquery import bigquery_client, bigquery
import geopandas as gpd
from shapely import wkt
from openpyxl import load_workbook
from src.utils import insert_dataframe_to_excel_sheet
from openpyxl.utils.dataframe import dataframe_to_rows
from difflib import SequenceMatcher
import openpyxl
import math
config = Config()
BH = BigqueryHandler()


# DataFrame 디스플레이 설정
pd.set_option('display.max_columns', 250)
pd.set_option('display.max_rows', 250)
pd.set_option('display.width', 100)

In [18]:
sql = f"""
SELECT danji.complexNo, danji.complexName, COUNT(price.dealPrice) AS cnt , max(totalHouseholdCount) AS totalHouseholdCount
FROM `aidepartners.aide.complex_real_price_prod` AS price
LEFT JOIN (
           SELECT complexNo, complexName, sidoCode, useApproveYear, totalHouseholdCount, realEstateTypeCode
           FROM `aidepartners.aide.complex_danji_information` 
           ) AS danji ON price.complexNo = danji.complexNo
WHERE danji.sidoCode = '11'
      AND danji.totalHouseholdCount >=200
      AND price.tradeType = 'A1' 
      AND price.deleteYn is null 
      AND danji.realEstateTypeCode = 'APT'
      AND price.contractDate >='2023-01-01'
GROUP BY danji.complexNo, danji.complexName
ORDER BY cnt DESC

"""
df = BH.read_table(sql)

In [25]:
df_heatmap = df[['complexName','cnt','totalHouseholdCount']]

In [29]:
df_heatmap['rotationRate'] = df_heatmap['cnt']/ df_heatmap['totalHouseholdCount']
df_heatmap['rotationRate'] = df_heatmap['rotationRate']*100

In [31]:
df_1 = df_heatmap.sort_values(by= 'totalHouseholdCount',ascending = False).iloc[:25]
df_2 = df_heatmap.sort_values(by= 'rotationRate',ascending = False).iloc[:25]

In [34]:
df_1.rename(columns = {'complexName':'단지명', 'cnt':'거래건수','totalHouseholdCount':'총세대수', 'rotationRate':'회전율'}).reset_index(drop =True)

            단지명  거래건수  총세대수       회전율
0         헬리오시티   153  9510  1.608833
1          파크리오   101  6864  1.471445
2          잠실엘스    42  5678  0.739697
3           리센츠    54  5563  0.970699
4      올림픽선수기자촌    40  5540  0.722022
5          남산타운    18  5150  0.349515
6        고덕그라시움    86  4932  1.743715
7         한신,한진    39  4515  0.863787
8      올림픽훼밀리타운    35  4494  0.778816
9      DMC파크뷰자이    29  4300  0.674419
10       고덕아르테온    52  4066  1.278898
11   미륭,미성,삼호3차    52  3930  1.323155
12    마포래미안푸르지오    34  3885  0.875161
13      SK북한산시티    51  3830  1.331593
14         성산시영    30  3710  0.808625
15         트리지움    54  3696  1.461039
16   고덕래미안힐스테이트    58  3658  1.585566
17       관악드림타운    40  3544  1.128668
18         중계그린    26  3481  0.746912
19         반포자이    20  3410   0.58651
20         행당대림    31  3404  0.910693
21           보람    21  3315  0.633484
22  DMC래미안e편한세상    20  3293  0.607349
23    강동롯데캐슬퍼스트    41  3226  1.270924
24       신동아1단지    14  3169   0.44178

In [35]:
df_2.rename(columns = {'complexName':'단지명', 'cnt':'거래건수','totalHouseholdCount':'총세대수', 'rotationRate':'회전율'}).reset_index(drop =True)

                  단지명  거래건수  총세대수       회전율
0       청계푸르지오시티(도시형)    15   298  5.033557
1             백련산파크자이    33   678  4.867257
2   회기역한일베라체캠퍼스(주상복합)    11   264  4.166667
3              용두두산위브    14   338  4.142012
4     고덕센트럴푸르지오(주상복합)    24   656  3.658537
5                  우성    12   332  3.614458
6          광진코지웰(도시형)    10   296  3.378378
7              송파두산위브     9   269  3.345725
8              독립문파크빌     9   290  3.103448
9             래미안아트리치    32  1091  2.933089
10             송파더센트레    33  1139  2.897278
11              대치2단지    49  1758  2.787258
12    대림쌍용플래티넘-S(도시형)     8   291  2.749141
13   롯데캐슬골드파크2차(주상복합)     8   292  2.739726
14        목동센트럴아이파크위브    83  3045   2.72578
15     수유역푸르지오시티(도시형)     8   298  2.684564
16             둔촌현대4차     6   235  2.553191
17              북한산더샵    14   552  2.536232
18                 라인     8   317  2.523659
19            등촌주공8단지    11   445   2.47191
20       이대역스타힐스(도시형)     5   203  2.463054
21            래미안공덕3차    15   616  2.435065
22              잠원훼미리     7   288  2.430556
23            행당브라운스톤     5   208  2.403846
24   석촌호수효성해링턴타워(도시형)     6   257   2.33463

In [17]:
df_heatmap = df[['complexName','cnt']].iloc[:50]
df_heatmap.rename(columns ={"complexName":'단지명', "cnt":'거래건수'})

               단지명  거래건수
0            헬리오시티   153
1             파크리오   101
2           고덕그라시움    86
3      목동센트럴아이파크위브    83
4       고덕래미안힐스테이트    58
5             트리지움    54
6       녹번역e편한세상캐슬    54
7              리센츠    54
8       미륭,미성,삼호3차    52
9           고덕아르테온    52
10         SK북한산시티    51
11           대치2단지    49
12            도곡렉슬    44
13           래미안위브    43
14            도봉한신    42
15            잠실엘스    42
16       강동롯데캐슬퍼스트    41
17        올림픽선수기자촌    40
18          관악드림타운    40
19           한신,한진    39
20      고덕롯데캐슬베네루체    37
21          가락쌍용1차    36
22        올림픽훼밀리타운    35
23       마포래미안푸르지오    34
24          송파더센트레    33
25         백련산파크자이    33
26         래미안아트리치    32
27            선사현대    32
28         래미안크레시티    31
29            행당대림    31
30      래미안장위퍼스트하이    31
31    송파위례24단지꿈에그린    31
32         정릉풍림아이원    31
33          주공17단지    30
34            성산시영    30
35          래미안솔베뉴    29
36        DMC파크뷰자이    29
37       고덕센트럴아이파크    29
38            고덕자이    29
39         꿈의숲아이파크    28
40       장안현대홈타운1차    27
41  마곡13단지힐스테이트마스터    27
42             그랑빌    27
43              현대    26
44            중계그린    26
45          행당한진타운    26
46     e편한세상옥수파크힐스    25
47              두산    25
48          월곡두산위브    24
49      사가정센트럴아이파크    24